  .page.theme_dark {
    --header-color-text: var(--header-color-text-dark);
    --header-color-background: var(--header-color-background-dark);
    --color-text: var(--color-text-dark);
    --container-titles: var(--container-titles-dark);
    --menu-bg-color: var(--dark-menu-bg-color);
    --bg-color: var(--dark-bg-color);
    --border-color: rgba(255, 255, 255, 0.1);
    --style-border: var(--style-border-dark);
    --decorate-border-color: var(--decorate-border-color-dark);
    --special-content-background: var(--special-content-background-dark);
    --special-content-hover: var(--special-content-hover-dark);
    --special-content-active: var(--special-content-active-dark);
    --time-line-hover: var(--time-line-hover-black);
    --search-background-color:var(--search-background-color-dark);
    --menu-item-hover:var(--menu-item-hover-dark);
    --window-border:var(--dark-blue);
    --modal-background:var(--modal-background-dark);
    --graph-color:var(--graph-dark);
}


  @media (prefers-color-scheme: dark) {
    :root {
        --header-color-text: var(--header-color-text-dark);
        --header-color-background: var(--header-color-background-dark);
        --color-text: var(--color-text-dark);
        --container-titles: var(--container-titles-dark);
        --menu-bg-color: var(--dark-menu-bg-color);
        --bg-color: var(--dark-bg-color);
        --border-color: rgba(255, 255, 255, 0.1);
        --style-border: var(--style-border-dark);
        --decorate-border-color: var(--decorate-border-color-dark);
        --special-content-background: var(--special-content-background-dark);
        --special-content-hover: var(--special-content-hover-dark);
        --special-content-active: var(--special-content-active-dark);
        --time-line-hover: var(--time-line-hover-black);
        --search-background-color:var(--search-background-color-dark);
        --menu-item-hover:var(--menu-item-hover-dark);
        --window-border:var(--dark-blue);
        --modal-background:var(--modal-background-dark);
        --graph-color:var(--graph-dark);
    }
  }