.page.theme_dark {
    --header-color-text: var(--header-color-text-light);
    --header-color-background: var(--header-color-background-light);
    --color-text: rgba(53, 52, 48, 1);
    --container-titles:rgba(53, 52, 48, 1);
    --menu-bg-color:var(--dark-menu-bg-color);
    --bg-color:var(--dark-bg-color);
    --border-color: rgba(50, 49, 45, 0.4);
    --style-border:var(--style-border-dark);
    --decorate-border-color:var(--decorate-border-color-dark);
    --special-content-background:var(--special-content-background-dark);
}

@media (prefers-color-scheme: dark) {
  :root {
    --header-color-text: var(--header-color-text-dark);
    --header-color-background: var(--header-color-background-dark);
    --color-text: rgba(53, 52, 48, 1);
    --container-titles:rgba(53, 52, 48, 1);
    --bg-color:var(--light-bg-color);
    --border-color: rgba(50, 49, 45, 0.4);
    --style-border:var(--style-border-light);
    --decorate-border-color:var(--decorate-border-color-dark);
    --special-content-background:var(--special-content-background-dark);
  }
}