.xLineColor{
    stroke: var(--color-text);
}

.yLineColor{
    stroke: var(--color-text);
}

.recharts-tooltip-wrapper {
    background-color: var(--special-content-background);
    border-radius:50px ;
    transition: none;
}

.recharts-default-tooltip{
    border: 2px solid #3a2626;
}


.recharts-tooltip-item-name
.recharts-tooltip-item-value {
    color:var(--color-text);
}

.recharts-tooltip-wrapper {
    transition: transform 100ms ease-in-out !important; 
}

.recharts-tooltip-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 999;
  font-size: 12px;
  pointer-events: auto; 
  padding: 20px;
  border-radius:5px !important;
  border: 1px solid black !important;
  color: var(--color-text) !important   ;
  background-color: var(--special-content-background) !important;
}

.recharts-default-tooltip{
    color: var(--color-text) !important;
    width: 140px !important;
    max-height: 50px !important;
    align-items: center !important;
    padding: 0px !important;
}
.recharts-default-tooltip {
  background-color: var(--special-content-background) !important;}

.recharts-tooltip-item-list{
    color: var(--color-text) !important;
}