.station__table {
    display: flex;
    flex-direction: column;
}

.logs__page__header a{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: var(--bg-color);
    flex-shrink: 0;
    font-size: 20px;
    font-weight: 700;
}

.logs-list{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 10px;
    overflow-y: auto;
    height: 100vh;
    flex: 1;
    padding: 10px;

}
.names__of__params{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.param__menu__buttom{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding: 10px 5px;
    min-width: 100px;
}
.log__page {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:10px;
    min-height: 0;
    overflow: auto;
}

.log__page ul{
    height: calc(-130px + 100vh)
}

.log-item{
    width: 100%;
    border-radius: 10px;
    border: 1px solid var(--special-content-background);
    cursor: pointer;
    height: 40px;
}

.log-item:hover{
    background-color: var(--special-content-hover);
}

.log-item-content{
    display: flex;
    flex-direction: row;
    gap: 5%;
}
