.slider-container {
  margin-top: auto;
  margin-left: 10px;
  width: 100%;
  max-width: 250px;
  color: var(--color-text);
}

.slider-value-wrapper {
  position: relative;
}

.slider-value {
  position: absolute;
  top: -20px;
  transform: translateX(-50%);
  font-weight: bold;
}

.custom-slider {
  width: 100%;
  appearance: none;
  height: 6px;
  background: #ddd;
  border-radius: 3px;
  outline: none;
  margin-top: -10px;
  position: relative;
  z-index: 2;
}

.custom-slider::-webkit-slider-thumb {
  appearance: none;
  width: 12px;
  height: 12px;
  background: #b9b9b9;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

.custom-slider::-moz-range-thumb {
  width: 12px;
  height: 12px;
  background: var(--special-content-background);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.slider-labels {
  position: relative;
  top: -44px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin:3px -1px 0 4px;
}

.invisible {
  opacity: 0;
  pointer-events: none;
}

.slider-dots {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  pointer-events:none ;
  width: 100%;
  top: -38px;
}

.slider-dot {
  width: 12px;
  height: 12px;
  pointer-events:none ;
  background: var(--special-content-background);
  border-radius: 50%;
}
  
