.station__list__page {
  width: 100%;
  padding: 15px 10px;
  width: 100%;
  height: calc(100vh - 60px);
  overflow-y: auto;
  background-color: var(--bg-color);
  color: var(--color-text);
}

.station__list__page table {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1em;
    border-radius: 10px;
    border-top: 1px solid var(--special-content-background);
    border-bottom: 1px solid var(--special-content-background);
    margin-bottom: 40px;
}

.station__list__page thead {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: none;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.station__list__page tbody {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  gap: 5px;
}

.station__list__page th{
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 18px 0;
}

.station__list__page thead th:hover{
    background-color: var(--menu-item-hover);
}

.station__list__page td {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 0;
}

.station__list__page tr{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 0;
    border: 2px solid var(--menu-item-hover);
    border-radius: 8px;
    background-color: var(--bg-color);
    transition: background-color 0.2s ease;
    cursor: pointer;
    padding: 0;
}

.station__list__page tbody tr:hover{
  background-color: var(--menu-item-hover);
  border:2px solid rgb(135, 135, 135);
}



.station__list__page input {
  width: 100%;
  font-size: 12px;
  background-color: var(--bg-color);
  border-radius: 10px;
  border: 1px solid var(--border-color);
  color: var(--color-text);
  transition: background-color 0.3s ease-in-out;
  padding: 10px 10px ;
  font-size: 14px;
  margin-top: 5px;
}

.station__list__page input:hover {
  background-color: var(--menu-item-hover);
}
