/* Station Detail info css */

.information {
  color: var(--color-text);
}

.information h3{
  color: var(--color-text);
  font-size: 25px;
}

.information__status{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 10px;
  align-items: center;
  color: var(--color-text);
  
}

.status-line {
  display: flex;
  align-items: center;
}

.status-indicator {
  display: flex;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 0 8px;
  margin-top: 4px;
}

.status-indicator.offline {
  background-color: gray;
}

.status-indicator.online {
  background-color: rgba(0, 255, 0, 0.67);
}

.status-indicator.working {
  background-color: orange;
}


.primary, .secondary {
  flex: 1;
  height: 100%;
}

.primary{
  
}


.content{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 10px 10px;
  background-color: var(--bg-color);
  color: var(--color-text);
}

.detail__infomation{
  width: 100%;
}

.type__of__charger{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap:0.2em;
  min-height: 20px;
  margin: 0;
}

.type__of__charger p{
  font-size: 4vh;
  color: var(--color-text);
}

.station__info{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 4px;
  color: var(--color-text);
}

.station__info__item{
  display: flex;
  align-items: center;
  background-color: var(--menu-bg-color);
  border-radius: 5px ;
  min-height: 30px;
  font-size: 18px;
  font-weight: 400;
  padding-left: 10px;
  border: 2px solid var(--border-color);
}

.detail__container__buttons{
  width: 100%;
  margin-top: 10px;
  display: grid;
  gap:8px;
  grid-template-columns: 1fr 1fr 1fr;
  min-height: 40px;
}

.detail__buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(100, 144, 100);
  border-radius: 5px;
  color: var(--color-text);
  transition: all 0.3s ease;
  font-size: 2vh;
}

.detail__buttons:hover{
  background-color: rgb(2, 123, 82);
}

.detail__buttons:active{
  background-color: rgb(202, 70, 70);
}

.mercury__table {
  width: 100%;
  display: flex;
  gap: 5px;
  flex-direction: row;
  font-family: Arial, sans-serif;
  padding: 15px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: var(--special-content-background);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  justify-content: center;
  text-align: center;
  margin-top: 15px;
}

.mercury__table__value {
  font-size: 18px;
  background-color: var(--special-content-background);
  border-radius: 5px;
  padding: 20px 30px;
  min-width: 80px;
  margin-top: 10px;


}

.mercury__table__name {
  font-size: bold;
}

.station__menu__buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 6px;
}

.station__menu__buttons button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 8px 12px;
  position: relative;
  color: var(--color-text);
  font-size: 18px;
  transition: all 0.3s ease;
  
}

.station__menu__buttons button:hover{
  color: var(--color-text);
}


.station__menu__buttons button::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0px; 
  width: 100%;
  min-height: 5px;
  background-color: #686868;
  color: #686868;
  transition: all 0.3s ease;
}


.station__menu__buttons button.active {
  color: var(--special-content-active);
  
}

.station__menu__buttons button.active::after {
  background-color: var(--special-content-active);
  height: 3px;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown__menu {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 100%;
  background: var(--menu-bg-color);
  padding: 8px 0;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  z-index: 100;
  border-radius: 6px;
  list-style: none;
  align-items: center;
  gap: 10px;
  color: var(--color-text);
  border: 1px solid gray;

  opacity: 0;
  transform: translateY(10px);
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown__menu-item button::after{
  content: none;
}

.dropdown__menu-item button {
  font-size: 15px;
}

.dropdown:hover .dropdown__menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdown__menu li {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

.dropdown__menu li button{
  padding: 10px 0;
  width: 100%;

}

.dropdown__menu li:hover {
  background-color: #706b6b;
  color: white;
}

.detail__map__container{
  display: flex;
  flex-direction: column;
}

.map__content {
  color: var(--color-text);
  margin-top: 15px;
}

.google__map__position{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.contaiener__short__logs{
  width: 100%;
  background-color: var(--special-content-background);
  border-radius: 5px;
}
.list__short__logs{
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  padding: 10px 0;
}
.item__short__logs{
  list-style-type:none ;
  padding-left: 0;
}

table {
  width: 100%;
  border-collapse: separate;
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin-top: 5px;
}

thead {
  display: none;
}

tbody {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

tbody tr {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 12px;
  padding: 0;
  margin: 0;
  list-style: none;
}

tbody td {
  flex: 1;
  padding: 0;
}

.cell-block {
  border: 2px solid var(--border-color);
  border-radius:5px;
  padding: 10px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: inset 0 0 8px rgba(0,0,0,0.03);
  background-color: var(--menu-bg-color);
  color: #555;
  height: 13%;
}

.cell-label {
  font-weight: 600;
  font-size: 14px;
  user-select: none;
  text-align: center;
  font-size: 2.5vh;
  color: var(--color-text);
}

.cell-value {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--menu-bg-color);
  border: 2px solid var(--border-color);
  border-radius: 5px;
  padding: 20px 0;
  font-size: 2.6vh;
  font-weight: 700;
  color: var(--color-text);
  text-align: center;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.07);
  min-height: 100px;
}

.staton_name
.header_log_list{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.window_name{
  font-size: 30px;
  color: var(--color-text);
}

.log_list_name{
  margin-left: 10px;
  color: var(--color-text);
}

.header_log_list{
  font-size: 20px;
  display: flex;
  flex-direction: row;
  padding: 5px 0 10px 0;
}

.log_item_name{
  padding-left: 10px;
}

.log_list_item{
  list-style-type: none;
}

.log_item{
  padding-left: 10px;
}

.divider-line {
  border-top: 2px solid var(--special-content-background);  
  margin: 12px 0;              
}

.body_log_list{
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 70vh  
}

.list__message__params{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0px 10px 10px;
  justify-content: end;  
}

.trigger__message{
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 40px;
}

.trigger__message p{
  font-size: 30px;
  font-weight: 700;
}

.trigger__message  span{
  font-size: 20px;
  font-weight: 500;
}

.message__param{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reboot__options{
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 40px;
}

.reboot__options p{
  font-size: 30px;
  font-weight: 700;
}

.reboot__options span{
  font-size: 20px;
  font-weight: 500;
}

.station__options-list{
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
}

.station__options-list-item{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.options__button {
  border: 2px solid var(--style-border-dark);
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  background-color: var(--modal-background);
  color: var(--color-text);
  cursor: pointer;
  transition: background-color 0.3s, opacity 0.3s;
}

.options__button:hover {
  background-color: var(--menu-item-hover);
}

.options__button:disabled {
  opacity: 0.5; 
  cursor: not-allowed;
  pointer-events: none;
}

.options__input{
  padding: 10px 5px;
  background: transparent;
  border: 2px solid var(--style-border);
  border-radius: 5px;
  width: 100%;
  color:var(--color-text);
}

.reset-button {
  padding: 10px 20px;
  color: var(--color-text);
  background-color: var(--modal-background);
  border-radius: 10px;
  width: 200px;
  margin-left: 10px;
  margin-top: 10px;
  border: 1px solid var(--border-color);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  user-select: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.reset-button:hover {
  background-color: var(--color-primary-light);
  color: var(--color-on-primary);
}


.time__period {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

.time__period__head{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.time__period__head th {
  padding: 12px;
  background-color: #f5f5f5;
  text-align: center;
  min-width: 100px;
  background-color: transparent;
  font-size: 20px;
}

.time__period__list td {
  padding: 6px;
  text-align: center;
  cursor: pointer;

}

.online {
  color: rgb(64, 255, 0);
}

.offline {
  color: gray;
}

.custom-thead{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.custom-tbody {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.availability__stat{
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  padding-top: 20px;
}

.availability__stat-item{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px 15px;
  border: 2px solid var(--border-color);
  background-color: var(--bg-color);
  border-radius: 5px;
}



.session-table{
  width: 100%;
}

.session-table .full-width-line{
  margin: 5px 0;
  height: 1px;
}

.session-table table{
  width: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 0.6em;
  border-radius: 10px;
  border-top: 1px solid var(--special-content-background);
  border-bottom: 1px solid var(--special-content-background);
}

.table-divide tbody > tr + tr {
  border-top: 1px solid #D1D5DB; /* Tailwind's gray-300 */
}

.session-table thead{
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: none;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.session-table th{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
  transition: background-color 0.3s ease-in-out; /* фикс */
}

.session-table th:hover{
  background-color: var(--menu-item-hover);
}

.session-table tbody{
  width: 100%;
  display: flex;
  flex-direction:column ;
  margin-top: 5px;
  gap:0;
}


.session-table td{
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease-in-out; /* фикс */
  padding: 10px 0;
}


.session-table tr {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 0;
  border: 2px solid var(--menu-item-hover);
  border-radius: 8px;
  background-color: var(--bg-color);
  transition: background-color 0.2s ease; /* фикс */
}

.session-table tbody tr:hover{
  background-color: var(--menu-item-hover);
}


.session-table select{
  width: 100%;
  font-size: 11px;
  background-color: var(--bg-color);
  border-radius: 10px;
  border: 1px solid var(--border-color);
  color: var(--color-text);
  transition: background-color 0.3s ease-in-out;
}

.session-table select:hover{
  width: 100%;
  font-size: 11px;
  background-color: var(--menu-item-hover);

}

.session-table input {
  width: 100%;
  font-size: 12px;
  background-color: var(--bg-color);
  border-radius: 10px;
  border: 1px solid var(--border-color);
  color: var(--color-text);
  transition: background-color 0.3s ease-in-out; /* фикс */
}

.session-table input:hover{
  background-color: var(--menu-item-hover);
}

.col-connector{
  min-width: 6em;
  max-width: 6em;
}

.col-start
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 8.5em;
  max-width: 8.6em;
} 

.col-end{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 9em;
  max-width: 9em;
}

.col-consumption{
  min-width: 7em;
  max-width: 7em;
}

.col-startPercent{
  min-width: 5em;
  max-width: 5em;
}

.col-power{
  min-width: 5em;
  max-width: 5em;
}

.col-currentPower{
  min-width: 6em;
  max-width: 6em;
}

.col-maxPower{
  min-width: 7em;
  max-width: 7em;
}

.col-endReason{
  display: flex;
  justify-content: space-between;
  min-width: 6em;
  max-width: 6em;
}

.col-status{
  display: flex;
  justify-content: space-between;
  min-width:7em;
  max-width:7em; 
}

.input-hidden{
  opacity: 0;
  pointer-events: none;
}