:root {
    --dark-blue:#093748;
    
    --menu-item-hover-dark:#1f404c;
    --menu-item-hover-light:#c4c9cd;

    --dark-bg-color: #112e39; 
    --light-bg-color: #ffffff;

    --dark-menu-bg-color: #14323d; 
    --light-menu-bg-color: #eeeeee;

    --decorate-border-color-light: #353430;
    --decorate-border-color-dark: #ff0070; 

    --text-shadow: rgba(255, 0, 112, 0.8);

    --style-border-dark: #888888;
    --style-border-light: #353430;

    --header-color-text-light: black;
    --header-color-text-dark: #e0e0e0;

    --header-color-background-light: #b8b8b8;
    --header-color-background-dark: #163744;

    --special-content-background-light: #ccc;
    --special-content-background-dark: #939393; 

    
    --special-content-hover-light: #e6e6e6;
    --special-content-hover-dark: #333;

    --special-content-active-light: #c4c9cd;
    --special-content-active-dark: #636363;

    --time-line-hover-light: #bbb;
    --time-line-hover-black: #9e9e9e;

    --color-text-dark: #d8d8d8;
    --container-titles-dark: #ffffff;

    --search-background-color-light:rgb(165, 165, 165);
    --search-background-color-dark: var(--dark-blue);

    --modal-background-light: #b8b8b8;
    --modal-background-dark:#212c42;
    --graph-online-dark: #4caf50;
    --graph-online-light: #4caf50;  
    --graph-offline-dark: #e53935; 
    --graph-offline-light: #e53935;
}
